:root {
  --white-color: #ffffff;
  --background-col: #ffffff;
  --color-hover: #2196f3;
  --hero-text-color: #ffffff;
  --logo-text-col: #000000;
  --title-text-color: #212121;
  --text-color: #757575;
  --background-hero-footer-col: #2f303a;
  --background-section-col: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--background-col);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  font-style: normal;
}

/* ---Шапка--- */
header{
  border-bottom: 1px solid #ECECEC;
}
.logo-web {
  color: var(--color-hover);
}

.logo {
  color: var(--logo-text-col);
  margin-right: 93px;
}

.logo,
.logo-web,
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-block {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  column-gap: 50px;
}

.contacts {
  display: flex;
  column-gap: 50px;
}

.site-nav .current {
  color: var(--color-hover);
}

.buttons .current {
  background-color: var(--color-hover);
  color: #ffffff;
}
.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--color-hover);
}

.contacts a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

/* ---Основний контент--- */

/* Герой */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  background-color: var(--background-hero-footer-col);
}

.hero-title {
  display: flex;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
}

.hero-block {
  display: flex;
  justify-items: center;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.button {
  color: var(--hero-text-color);
  background-color: var(--color-hover);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 216px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
}

.button,
.button-portf {
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
}

.button-portf {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: transparent;
  border-radius: 4px;
}

.button-portf:hover,
.button-portf:focus,  
.button-portf:active {
  color: var(--hero-text-color);
  background-color: var(--color-hover);
}

.buttons-block {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-block li:not(:last-child) {
  margin-right: 8px;
}

/* Особливості */

.non-display {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-block {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
  gap: 30px;
}

.features-block li {
  flex-basis: calc((100% - 90px) / 4);
}

.features-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-features {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми займаємося */

.work-title,
.team-title {
  display: flex;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  justify-content: center;
  margin-bottom: 50px;
}

.work-block {
  display: flex;
  margin-bottom: 94px;
  flex-wrap: wrap;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

/* Наша команда */

.team {
  background-color: var(--background-section-col);
}

.team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.team-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-block li {
  flex-basis: calc((100% - 90px) / 4);
}

/* Приклади робіт - стор.Портфоліо */

.example-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.example-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ---Футер--- */

footer {
  background-color: var(--background-hero-footer-col);
}

.footer-logo {
  color: var(--white-color);
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
}

footer a {
  color: var(--footer-text-color);
}

.footer-contacts .adres {
  color: var(--white-color);
}

.footer-contacts a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}
.footer-contacts {
  display: inline-block;
  padding-bottom: 60px;
}
.footer-contacts li:nth-child(n + 1) {
  margin-bottom: 9px;
}
